<!-- Intro Section -->
<div class="view jarallax imagem-introducao" data-jarallax='{"speed": 0.2}'>
  <div class="full-bg-img mask rgba-black-light">
    <div class="container flex-center">
      <div class="row pt-5 mt-3 w-100">
        <div class="col-md-12">
          <div class="text-center" style="padding-bottom: 5px;">
            <div class="logo-branca-introducao">

            </div>
            <hr class="hr-light mt-4 wow fadeInDown" data-wow-delay="0.4s">
            <h5 class="font-up mb-5 white-text wow fadeInDown fonte-tartaros" data-wow-delay="0.4s">
              <strong>Peça já o seu.</strong>
            </h5>
            <a class="btn btn-outline-white wow fadeInDown waves-light fonte-tartaros" data-wow-delay="0.4s" mdbWavesEffect><h3 class="h3-responsive">Sabores</h3></a>
            <a class="btn btn-outline-white wow fadeInDown waves-light fonte-tartaros" data-wow-delay="0.4s" mdbWavesEffect><h3 class="h3-responsive">Contato</h3></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
