<div id="contato" style="height: 80px;"></div>

<div  class="text-center fonte-tartaros" style="padding: 20px;">
  <!--Section heading-->
  <h1 class="h1-responsive">Delivery de <strong>Terça</strong> à <strong>Domingo</strong>, de <strong>18h</strong> às <strong>23:30h</strong>.</h1>
  <br/>
  <!--Grid row-->
  <div class="row">

    <!--Grid column-->
    <div class="col-md-4">
      <i class="fa fa-phone-square fa-3x green-text"></i>
      <h5 class="font-weight-bold mt-3">Pedidos</h5>
      <p class="grey-text"><a href="tel:+552132835569">(021) 3283-5569</a> / Barra <br/>
        <a href="tel:+552122384840">(021) 2238-4840</a> / Grajaú
      </p>
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-4">
      <i class="fa fa-book fa-3x cyan-text"></i>
      <h5 class="font-weight-bold mt-3">Tutorials</h5>
      <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda deleniti
        hic.
      </p>
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-4">
      <i class="fa fa-comments-o fa-3x orange-text"></i>
      <h5 class="font-weight-bold mt-3">Support</h5>
      <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda deleniti
        hic.
      </p>
    </div>
    <!--Grid column-->

  </div>
  <!--Grid row-->
</div>
