<div id="contato" style="height: 120px;"></div>

<div  class="text-center fonte-tartaros" style="padding: 20px;">
  <!--Section heading-->
  <h1 class="h1-responsive">Delivery de <strong>Quarta</strong> à <strong>Domingo</strong>, de <strong>18h</strong> às <strong>23:30h</strong>.</h1>
  <br/><br/><br/>
  <!--Grid row-->
  <div class="row">

    <!--Grid column-->
    <div class="col-md-6 wow slideInRight" data-wow-delay="0.4s">
      <i class="fa fa-phone-square fa-3x green-text"></i>
      <h5 class="font-weight-bold mt-3">Barra</h5>
      <h3 class="h3-responsive">
        <p class="grey-text"><a href="tel:+552132835569">(021) 3283-5569</a>
        </p>
      </h3>
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-6 wow slideInRight" data-wow-delay="0.4s">
      <i class="fa fa-phone-square fa-3x green-text"></i>
      <h5 class="font-weight-bold mt-3">Grajaú</h5>
      <h3 class="h3-responsive">
        <p class="grey-text">
          <a href="tel:+552122384840">(021) 3251-6718</a>
        </p>
        <p class="grey-text">
          <a href="tel:+5521971458308">(021) 97145-8308</a>
        </p>
      </h3>


  </div>
  <!--Grid row-->
</div>
