<footer class="footer-copyright py-3 text-center text-white" style="background-color: #505050;">
  <div class="logo-branca-introducao">

  </div>
  <a class="nav-link waves-effect waves-light">
    <!--Facebook-->
    <a href="https://pt-br.facebook.com/tartaroshamburgueria/" style="color: white">
      <i class="fa fa-facebook" aria-hidden="true"></i>
    </a>
  </a>
  <a class="nav-link waves-effect waves-light">
    <!--Instagram-->
    <a href="https://www.instagram.com/tartaroshamburgueria/" style="color: white">
      <i class="fa fa-instagram" aria-hidden="true"></i>
    </a>
  </a>
  <br/>
  <br/>© 2018 Todos os direitos reservados.
</footer>
