<footer class="footer-copyright py-3 text-center text-white" style="background-color: #505050;">
  <div class="logo-branca-introducao">

  </div>

  <br/>
  <br/>
  <div class="row justify-content-md-center">

    <div class="col-12 col-md-auto">

      <a href="https://pt-br.facebook.com/tartaroshamburgueria/" target="_blank" class="icons-sm fb-ic">
        <mdb-icon class="text-white" fab icon="facebook-f"></mdb-icon>
      </a>
      &nbsp;&nbsp;
      <a href="https://www.instagram.com/tartaroshamburgueria/" target="_blank" class="icons-sm ins-ic">
        <mdb-icon class="text-white" fab icon="instagram"></mdb-icon>
      </a>

    </div>

  </div>


  <br/>© 2020 Todos os direitos reservados.
</footer>
