<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar fonte-tartaros">
  <logo>
    <a class="logo navbar-brand waves-light" mdbWavesEffect href="#">
      <img src="..\assets\img\logo-preto-200px.png" alt="">
    </a>
  </logo>
  <links>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item waves-light" mdbWavesEffect>
        <a routerLink="/home" routerLinkActive="active" class="nav-link" mdbPageScroll href="#introducao">
          <h3 class="h3-responsive">Home</h3>
        </a>
      </li>
      <li class="nav-item waves-light" mdbWavesEffect>
        <a routerLink="/home" routerLinkActive="active" class="nav-link" mdbPageScroll href="#sabores">
          <h3 class="h3-responsive">Sabores</h3>
        </a>
      </li>
      <li class="nav-item waves-light" mdbWavesEffect>
        <a routerLink="/home" routerLinkActive="active" class="nav-link" mdbPageScroll href="#contato">
          <h3 class="h3-responsive">Contato</h3>
        </a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item">
        <a class="nav-link waves-effect waves-light">
          <h4 class="h4-responsive">
            <i class="fa fa-phone"> </i> Pedidos </h4>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-effect waves-light" href="tel:+552132835569">
          <h4 class="h4-responsive">(021) 3283-5569 / Barra</h4>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-effect waves-light" href="tel:+552122384840">
          <h4 class="h4-responsive">(021) 2238-4840 / Grajaú</h4>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-effect waves-light">
          <!--Facebook-->
          <a href="https://pt-br.facebook.com/tartaroshamburgueria/"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-effect waves-light">
          <!--Instagram-->
          <a href="https://www.instagram.com/tartaroshamburgueria/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        </a>
      </li>
    </ul>
  </links>
</mdb-navbar>
