<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar fonte-tartaros">
  <logo>
    <a class="logo navbar-brand waves-light" mdbWavesEffect href="#">
      <img src="..\assets\img\logo-preto-200px.png" alt="">
    </a>
  </logo>
  <links>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active waves-light" mdbWavesEffect>
        <a class="nav-link" mdbPageScroll href="#introducao">
          <h3 class="h3-responsive">Home</h3>
        </a>
      </li>
      <li class="nav-item waves-light" mdbWavesEffect>
        <a class="nav-link" mdbPageScroll href="#sabores">
          <h3 class="h3-responsive">Sabores</h3>
        </a>
      </li>
      <li class="nav-item waves-light" mdbWavesEffect>
        <a class="nav-link" href="#">
          <h3 class="h3-responsive">Contato</h3>
        </a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto nav-flex-icons">
        <li class="nav-item">
            <a class="nav-link waves-effect waves-light">
                <h4 class="h4-responsive"><i class="fa fa-phone"> </i> Pedidos  </h4>
            </a>
          </li>
      <li class="nav-item">
        <a class="nav-link waves-effect waves-light">
            <h4 class="h4-responsive">(021) 2345-6789 / Barra</h4>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-effect waves-light">
            <h4 class="h4-responsive">(021) 2345-6789 / Grande Tijuca</h4>
        </a>
      </li>
    </ul>
  </links>
</mdb-navbar>
