<div id="sabores" style="height: 80px;">

</div>
<div class="container fonte-tartaros">
  <br/>

  <!--Grid row-->
  <div class="row">

    <!-- Gorgonzola -->
    <div class="col-md-4 wow slideInLeft" data-wow-delay="0.4s">
      <div class="card">
        <!--Card image-->
        <img class="img-fluid" src="../assets/img/sabores-gorgonzola.png" alt="Card image cap">
        <!--Card content-->
        <div class="card-body text-center fonte-tartaros">
          <!--Title-->
          <h4 class="card-title">
            <strong>
              <h3 class="h3-responsive">Tártaros Gorgonzola</h3>
            </strong>
          </h4>
          <div style="height: 110px;">
            <h4 class="h4-responsive">160g de hambúrguer de carne bovina, molho de gorgonzola e cebolas caramelizadas no pão australiano.</h4>
          </div>
        </div>
        <!--/.Card content-->
      </div>
    </div>

    <!-- Costela -->
    <div class="col-md-4 wow slideInLeft" data-wow-delay="0.4s">
      <div class="card">
        <!--Card image-->
        <img class="img-fluid" src="../assets/img/sabores-costela.png" alt="Card image cap">
        <!--Card content-->
        <div class="card-body text-center fonte-tartaros">
          <!--Title-->
          <h4 class="card-title">
            <strong>
              <h3 class="h3-responsive">Tártaros Costela</h3>
            </strong>
          </h4>
          <div style="height: 110px;">
            <h4 class="h4-responsive">180g de hambúrguer de costela bovina, molho barbecue, queijo cheddar, alho torrado, salada de agrião fresco no
              pão de abóbora.</h4>
          </div>
        </div>
        <!--/.Card content-->
      </div>
    </div>





    <!-- Cogumelos -->
    <div class="col-md-4 wow slideInLeft" data-wow-delay="0.4s">
      <div class="card">
        <!--Card image-->
        <img class="img-fluid" src="../assets/img/sabores-cogumelos.png" alt="Card image cap">
        <!--Card content-->
        <div class="card-body text-center fonte-tartaros">
          <!--Title-->
          <h4 class="card-title">
            <strong>
              <h3 class="h3-responsive">Tártaros Cogumelos</h3>
            </strong>
          </h4>
          <div style="height: 110px;">
            <h4 class="h4-responsive">160g de hambúrguer de carne bovina, molho barbecue, queijo mussarela, champignons reduzidos no shoyo no pão australiano.</h4>
          </div>
        </div>
        <!--/.Card content-->
      </div>
    </div>

  </div>
  <br/>
  <!--Grid row-->
  <div class="row">


    <!-- Meio a Meio -->
    <div class="col-md-4 wow slideInLeft" data-wow-delay="0.4s">
      <div class="card">
        <!--Card image-->
        <img class="img-fluid" src="../assets/img/sabores-meioameio.png" alt="Card image cap">
        <!--Card content-->
        <div class="card-body text-center fonte-tartaros">
          <!--Title-->
          <h4 class="card-title">
            <strong>
              <h3 class="h3-responsive">Tártaros Meio a Meio</h3>
            </strong>
          </h4>
          <div style="height: 110px;">
            <h4 class="h4-responsive">200g de hambúrguer 50% carne bovina + 50% bacon, queijo cheddar, cebolas caramelizadas e maionese Tártaros no
              pão de abóbora.</h4>
          </div>
        </div>
        <!--/.Card content-->
      </div>
    </div>


    <!-- Frango -->
    <div class="col-md-4 wow slideInLeft" data-wow-delay="0.4s">
        <div class="card">
          <!--Card image-->
          <img class="img-fluid" src="../assets/img/sabores-frango.png" alt="Card image cap">
          <!--Card content-->
          <div class="card-body text-center fonte-tartaros">
            <!--Title-->
            <h4 class="card-title">
              <strong>
                <h3 class="h3-responsive">Tártaros Frango</h3>
              </strong>
            </h4>
            <div style="height: 110px;">
              <h4 class="h4-responsive">160 g de blend de carne de frango, maionese temperada, queijo mussarela, salada de alface e tomate com pão de alho com ervas.</h4>
            </div>
          </div>
          <!--/.Card content-->
        </div>
      </div>

      <!-- Suino -->
    <div class="col-md-4 wow slideInLeft" data-wow-delay="0.4s">
        <div class="card">
          <!--Card image-->
          <img class="img-fluid" src="../assets/img/sabores-suino.png" alt="Card image cap">
          <!--Card content-->
          <div class="card-body text-center fonte-tartaros">
            <!--Title-->
            <h4 class="card-title">
              <strong>
                <h3 class="h3-responsive">Tártaros Suíno</h3>
              </strong>
            </h4>
            <div style="height: 110px;">
              <h4 class="h4-responsive">160g de blend suíno, queijo mussarela, maionese de limão siciliano, chutney de abacaxi no pão de alho e ervas finas.</h4>
            </div>
          </div>
          <!--/.Card content-->
        </div>
      </div>

  </div>

</div>
<br/>
<div class="view intro" style="background-image: url(../assets/img/todos_3.png); background-attachment: fixed; background-size: cover; min-height: 700px">
  <div class="full-bg-img mask rgba-pink-slight">
  </div>
</div>

<br/>
